{{ config(materialized='table', tags=['bronze']) }}

select
    snapshot_id,
    product_id,
    warehouse_id,
    cast(snapshot_date as timestamp) as snapshot_date,
    cast(qty_on_hand as integer) as qty_on_hand,
    cast(qty_reserved as integer) as qty_reserved,
    cast(qty_available as integer) as qty_available,
    cast(reorder_point as integer) as reorder_point,
    cast(reorder_qty as integer) as reorder_qty,
    supplier_id,
    cast(last_received_date as timestamp) as last_received_date,
    cast(unit_cost as decimal(10,2)) as unit_cost,
    CURRENT_TIMESTAMP as ingestion_timestamp,
    'RAW_INVENTORY_SNAPSHOTS' as source_system  
from {{ ref('raw_inventory_snapshots') }}