{{ config(materialized='table', tags=['bronze']) }}

select
    ticket_id,
    customer_id,
    coalesce(order_id, '') as order_id,
    ticket_type,
    priority,
    status,
    cast(created_timestamp as timestamp) as created_timestamp,
    case when first_response_timestamp is NULL or cast(first_response_timestamp as string) = '' then NULL
         else cast(first_response_timestamp as timestamp) end as first_response_timestamp,
    cast(resolution_timestamp as timestamp) as resolution_timestamp,
    agent_id,
    cast(coalesce(satisfaction_score, 0) as integer) as satisfaction_score,
    subject,
    channel,
    CURRENT_TIMESTAMP as ingestion_timestamp,
    'RAW_SUPPORT_TICKETS' as source_system
from {{ ref('raw_support_tickets') }}