{{ config(materialized='table', tags=['bronze']) }}

select
    transaction_id,
    order_id,
    customer_id,
    payment_method,
    payment_status,
    cast(amount as decimal(10,2)) as amount,
    currency,
    cast(transaction_timestamp as timestamp) as transaction_timestamp,
    cast(processor_response_code as varchar(2)) as processor_response_code,
    cast(gateway_fee as decimal(10,2)) as gateway_fee,
    merchant_id,
    billing_country,
    risk_score,
    CURRENT_TIMESTAMP as ingestion_timestamp,
    'RAW_PAYMENT_TRANSACTIONS' as source_system  
from {{ ref('raw_payment_transactions') }}